img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  opacity: 1;
  max-width: 100%;
  max-height: 100%;
}

.xtXmba {
  position: relative;
  top: 24px;
}

mat-toolbar {
  height: 79px;
  justify-content: space-evenly;
}

table {
  margin-bottom: 10px;
}
